*{
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
}
.menu{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
}
.item
{
  
    margin: 5px;
}
.circulo{
    display: inline-block;
    position:relative;
    width: 36px;
    height: 36px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;;
}
.go{
    width: 300px;
    margin-top: 125px;
}
.foto{
    display: flex;
  justify-content: center;
}
.barra{
    width: 550px;
    margin-top: 1px;
}